@import '~view-design/src/styles/index.less';
// Here are the variables to cover, such as:
@primary-color: #7b62de;
//@primary-color: #666BEF;
//@primary-color: #252525;
@date-picker-cell-hover-bg: rgba(123, 98, 222, 0.07);
@border-radius-small: 10px;
