$start-end-date-bg-color: #eff5fe;
$start-end-date-color: #7b66db;

.flatpickr-current-month input.cur-year,
.cur-month,
.flatpickr-current-month span.cur-month:hover {
  background: white;
}
.flatpickr-calendar.inline {
  margin: 10px auto 20px;
}
//  .arrowUp,
//  .arrowDown {
//    display: none;
//  }
//}
.flatpickr-calendar {
  box-shadow: none;
}

////日期选择器起末样式
.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange {
  background-color: $start-end-date-bg-color;
  color: $start-end-date-color;
  border-color: $start-end-date-bg-color;
}
.flatpickr-day.inRange {
  -webkit-box-shadow: -5px 0 0 $start-end-date-bg-color,
    5px 0 0 $start-end-date-bg-color;
  box-shadow: -5px 0 0 $start-end-date-bg-color,
    5px 0 0 $start-end-date-bg-color;
}
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
  box-shadow: -5px 0 0 $start-end-date-bg-color;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: $start-end-date-color;
}
.flatpickr-current-month span.cur-month {
  font-weight: initial;
  font-size: 12px;
}
.flatpickr-current-month {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.rangeMode .flatpickr-day {
  margin-top: 4px;
}
//
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
  box-shadow: none;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: $start-end-date-bg-color;
  border-color: $start-end-date-color;
  color: $start-end-date-color;
  //border: 0;
}
