$white: #fff;
$black: #000;
//推送页顶部4卡片背景颜色（彩色）subscribePage
$subscribe-card-bg-color1: #f0f5ff;
$subscribe-card-bg-color2: #ebfceb;
$subscribe-card-bg-color3: #fef1f3;
$subscribe-card-bg-color4: #fff8f1;
//推送页顶部4卡片字体颜色（彩色）
$subscribe-card-p-color1: #4a8bee;
$subscribe-card-p-color2: #248f6c;
$subscribe-card-p-color3: #fa8396;
$subscribe-card-p-color4: #fdb172;
//推送页顶部4卡片颜色（白色）
$subscribe-card-bg-color: #ffffff;
//推送页默认icon颜色
$subscribe-close-icon-color: #515a6e;
//虚线字体颜色
$divider-text-color: #e8eaec;
//发现页搜索文本高亮颜色 discoverPage
$search-text-highlight-color: #f22c39;

//bid列表简介颜色
$card-abstract-p-color: #657180;
//bid列表阴影颜色
$card-box-shadow-color: #fafcfc;
//bid列表背景透明色
$card-list-bg-color: rgba(255, 255, 255, 0.5);
//单个bid背景颜色
$card-item-bg-color: #ffffff;

//订阅推送字体下划线颜色
$subscribe-underline-color: #498bee;

//招标绿色浅背景色
$bid-green-bg-color: #ecf9f7;
//招标绿色字体颜色
$bid-green-text-color: #489e82;
//中标红色浅背景色
$bid-red-bg-color: #fdf1f2;
//中标红色字体颜色
$bid-red-text-color: #f57a7f;

$gather-menu-active-bg-color: #eff5fe;
//标讯标题颜色
$bid-title-color: #000000;
//发现页背景颜色
$discover-bg-color: #eef4fc;
$discover-keyword-color: #9ea7b4;
$discover-keyword-hover-color: #657180;
//首页
$home-theme-color: #7e44f3;
$home-contact-msg-color: #a5a6a6;
