@use 'globalColor';
html {
  scroll-behavior: smooth;
}
//文本行数省略样式
@mixin ellipsis-style($line: 1) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
//卡片列表bid标题样式
%card-title-style {
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  color: globalColor.$bid-title-color;
}
//discoverPage卡片列表bid简介样式
%card-abstract-p-style {
  font-size: 12px;
  color: globalColor.$card-abstract-p-color;
}
//flex居中样式
%flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
//淡入淡出效果
%fade-in {
  opacity: 0; /* 初始状态为透明 */
  animation: fade-in 1s forwards; /* 使用动画效果，持续 3 秒，并在结束时保持状态 */
  margin-bottom: 60px;
}
@keyframes fade-in {
  from {
    opacity: 0; /* 动画起始状态为透明 */
  }
  to {
    opacity: 1; /* 动画结束状态为完全显示 */
  }
}
%fade-out {
  opacity: 1;
  animation: fade-out 1s forwards; /* 使用动画效果，持续 3 秒，并在结束时保持状态 */
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

//gatherLayout右侧背景图片
$gather-bg-img-url: '@/assets/home/home-bg.png';
//home page背景图片
$home-bg-img-url: '@/assets/home/home-bg.png';
//
$home-map-url: '@/assets/home/map.png';
//subscribePage页面圆角弧度
$subscribe-border-radius: 10px;
